{% extends "base.html" %}
{% block content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mypage.css' %}">
    </head>
    <body>
    <div>
        <h1>MyPage</h1>
        <img class="user_img" src="{% static 'img/user_img.png' %}" alt="">
        <div class="user_name">{{ user.username }}</div>
        <div class="user_box">

            <a href="{% url 'common:change_password'%}"><div class="list">비밀번호 변경</div></a>
            <a href="{% url 'common:change_interest'%}"><div class="list">관심여행지 변경</div></a>
            {% if user.is_authenticated %}
                <div class="list"><a class="nav-link" href="{% url 'common:logout' %}">로그아웃</a></div>
            {% endif %}
        </div>
    </div>
    </body>
    </html>

{% endblock %}