{% extends "base.html" %}
{% block content %}
    {% load static %}

    <style>
        .detail_img {
            float: left;
            width:30%;
            box-sizing: border-box;
        }

        .detail_txt{
            margin-top: 20px;
            float: right;
            width:25%;
            box-sizing: content-box;
        }

        .bookmark{
            float: right;
            width:10%;
            box-sizing: border-box;
            border: None #ffffff;
            outline: #ffffff None;
            background-color: transparent;
        }

        .bm{
            border: None #ffffff;
            outline: #ffffff None;
        }

    </style>
    <div class="detail_img">
        {% for v in video %}
            {% if spot_detail == v.spot_name %}
                <iframe width="1000" height="650" src="{{ v.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
        {% endfor %}
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 1000px;height: 650px;float: left;box-sizing: border-box;">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ spot_detail.link }}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ spot_detail.link }}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ spot_detail.link }}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <form method="POST" class="bm">
        {% csrf_token %}
        {% if bookmark %}
            <button class="bookmark"><h1>★</h1></button>
        {% else %}
            <button class="bookmark"><h1>☆</h1></button>
        {% endif %}
    </form>
    <div class="detail_txt">
        <h1>{{ spot_detail.spot_name }}</h1>
    </div>

{% endblock %}