{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'box.css' %}">
</head>
<body>
<div class="box"></div>
</body>
</html>

    <div class="container my-3">
        <div class="row my-3">
            <div class="col-4">
                <div class="area_name">"{{ spot.0.area_name }}"</div>
                <div class="name_plus">The place I want to travel is {{ spot.0.area_name }}</div>
                    {% if title_list %}
                        <ul class="div_ul">
                            {% for title in title_list %}
                                {% if title.area_name == spot.0.area_name %}
                             <li class="div_li">
                                 <a href="./{{ title.spot_name }}/">
                                 <img class= "div_img" src="{{ title.link }}" alt="">
                                 <div class="div_title">{{ title.spot_name }}</div>
                                 </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
