{% extends "base.html" %}
{% block content %}

    <div class="container my-3">
        <div class="row my-3">
            <div class="col-4">
                <h1>CHOOSE AREA</h1>
                <h3>Choose the area you want to travel to.
                </h3>
                <div>
                    <ul>
{% comment %}                        {% for a in area %}
                            <li><a href="./{{ a.area_name }}/">{{ a.area_name }}</a></li>
                        {% endfor %}{% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if area.0.country_name == "South Korea" %}
        {% include "southkorea.html" %}
    {% elif area.0.country_name == "Japan" %}
        {% include "japan.html" %}
    {% elif area.0.country_name == "China" %}
        {% include "china.html" %}
    {% endif %}
{% endblock %}