{% extends "base.html" %}
{% block content %}

    <div class="container my-3">
        <div class="row my-3">
            <div class="col-4">
                <h1>CHOOSE AREA</h1>
                <h3>Choose the area you want to travel to.
                </h3>
                {% if area.0.country_name == "South Korea" %}
                    {{ area.0.country_name }}
                {% elif area.0.country_name == "Japan" %}
                    {{ area.0.country_name }}
                {% elif area.0.country_name == "China" %}
                    {{ area.0.country_name }}
                {% endif %}
                <div>
                    <ul>
                        {% for a in area %}
                            <li><a href="./{{ a.area_name }}/">{{ a.area_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}