
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
        <title>방구석 세계여행</title>
    </head>

    <div style="margin-top: 100px">
        <h2 style="text-align:center;">비밀번호 변경</h2>
        <br>
        <form method="post" style="text-align:center;">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit">Save changes</button>
        </form>
        {% if error_message %}
            <div>{{ error_message }}</div>
        {% endif %}
    </div>
{% endblock %}