body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 나눔스퀘어;
}
a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }

a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.nav{
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0px 4px 8px lightgrey;
    position: relative;
    z-index:100;
}
.wrap_mainimg{
    z-index:1;
}
.logo{
    width: 70px;
    margin-left: 5%;
    padding-top: 10px;
    box-sizing: border-box;
    float: left;
}
.title{
    padding-left: 30px;
    float: left;
    line-height: 70px;
    font-size: 25px;
    font-weight: bold;

}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');

.menu{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
.menu li {
  display: inline-block;/*여백 없이 좌측으로 붙은 li*/
  padding: 10px 0px 0px 150px;
}
.menu a{
   color: black;/*폰트컬러*/
   font-weight: bold;
   text-decoration: none;
   line-height: 40px;
    font-size: 18px;
}
.menu a:after {/*after 가상요소*/
   display:block;/*a요소를 블록 요소라고 선언*/

   content: '';/*comtent안은 밑줄 디자인을 위해 비워두세요.*/
   border-bottom: solid 4px #28B5B5;
   transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
   transition: transform 250ms ease-in-out; /*변형 방식*/
}
.menu a:hover:after {
   transform: scaleX(1);/*a 속성에 hover시 after를 기존 크기로 변경*/
}
/*
.btn{
    float: right;
    height: 40px;
    color:black;
    text-align: center;
    margin-top: 14px;
    margin-right: 120px;
    line-height: 40px;
    font-weight: bolder;

}

.btn_user{
    float: right;
    width: 120px;
    height: 40px;
    background-color: #28B5B5;
    text-align: center;
    line-height: 40px;
    margin-top: 14px;
    margin-right: 8%;
    color: white !important;
    font-weight: bold;
    border:1px solid #28B5B5;

}

 */