{% load static %}
<!doctype html>
{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <title>방구석 세계여행</title>
</head>
<body>
<div class="nav">
    <a href="{% url 'online_travel:index' %}" style="margin-left: 5%;"><img class="icon" src="{% static 'img/main_icon.png' %}" alt="My Image"></a>
    <div class="title"><a href="{% url 'online_travel:index' %}">방구석 세계여행</a></div>
    <div class="menu">
        <ul>
            <li><a href="{% url 'online_travel:index' %}">
                <div class="btn">CHOOSE COUNTRY</div>
            </a></li>
            <li><a>
                <div class="btn">CHOOSE AREA</div>
            </a></li>
            <li><a href="{% url 'online_travel:bookmark' %}">
                <div class="btn">BOOKMARK</div>
            </a></li>
            <li><a href="{% url 'online_travel:mypage' %}">
                <div class="btn_user">{{ user.username }}</div>
            </a></li>
        </ul>
    </div>
</div>



